.gallary-swiper-img {
    max-width: 280px;
}

.gallary-swiper {
    padding: 0 !important;
}
/* 
.gallary-swiper .container {
    padding-inline-end: 0 !important;
} */

.gallary-swiper .swiper {
    overflow: visible;
}

.gallary-swiper .swiper::after {
    content: "";
    background-color: var(--body-bg);
    width: 100vw;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 999;
}