
/* Media for responsive */
@media (min-width: 1440px) {
    .container {
         max-width: 1430px;
    }
}

@media (max-width: 1440px) {}

@media (min-width: 1440px) and (max-width: 1465px) {}

@media (min-width: 1465px) and (max-width: 1565px) {}

@media (min-width: 1465px) and (max-width: 1665px) {}

@media (min-width: 1440px) and (max-width: 1750px) {}

@media (min-width: 1300px) and (max-width: 1375px) {}

@media (min-width: 1200px) and (max-width: 1300px) {}

@media (max-width: 1200px) {}

@media (max-width: 991px) {
    .not-mobile{
         display: none;
    }

    .only-mobile{
         display: flex !important;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 480px) {}